@model int
@{
    ViewData["Title"] = "OrderConfirmation";
}

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center"> Order Placed Successfully! </h1>
        You Order Number is: @Model <br /> <br />
        <img src="~/images/products/09c54ac7-5601-4c37-87ed-38a186f34a40.jpg" width="65%" />
    </div>

    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your Order has been placed successfully. <br />
    </div>
</div> 

