@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<partial name="_notifications" />

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> Category List </h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Category">
                <i class="bi bi-plus-circle-fill"></i> &nbsp; Create Category
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <td> Category Name </td>
                <td> Display Order </td>
                <td> </td>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td> @item.Name </td>
                    <td> @item.DisplayOrder </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="mx-2 btn btn-primary">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="mx-2 btn btn-danger">
                                <i class="bi bi-trash"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>