@model Company
@{
    ViewData["Title"] = ViewData["Action"];
}

<div class="border mt-5 p-3">
    <div class="row">
        @*heading*@
        <div class="col-12 text-primary">
            <h2>@ViewData["Action"]</h2>
            <hr />
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <form method="post">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3 p-2">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Company Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3 p-2">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Company Phone Number" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            </div>

            <div class="mb-3 p-2">
                <label asp-for="StreetAddress"></label>
                <input asp-for="StreetAddress" class="form-control" placeholder="Company Location" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>

            </div>


            <div class="mb-3 p-2">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" placeholder="Company Location" />
                <span asp-validation-for="City" class="text-danger"></span>

            </div>


            <div class="mb-3 p-2">
                <label asp-for="State"></label>
                <input asp-for="State" class="form-control" placeholder="Company Location" />
                <span asp-validation-for="State" class="text-danger"></span>

            </div>


            <div class="mb-3 p-2">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" class="form-control" placeholder="Company Location postal code" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>

            </div>

            <button type="submit" class="btn btn-primary" style="width:150px"> @(Model.Id == 0 ? "Create" : "Update") </button>
            <a asp-action="Index"  class="ms-2 btn btn-secondary" style="width:150px;"> Back to List </a>
        </form>
    </div>
</div>


@section Scripts {
 <partial name="_ValidationScriptsPartial" />
}
