@model CoverType

<form method="post">
    <div class="border mt-4 p-3">
        <div class="mb-3">
            <h2 class="text-primary">Create Cover Type</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Name" ></label>
            <input class="form-control" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger" ></span>
        </div>

        <button class="btn btn-primary" type="submit" style="width:150px;"> Create </button>
        <a class="btn btn-secondary" asp-action="index"> Back to List </a>

    </div>
</form>